<xhtml xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>S3Model Tools</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>
<body style="background-color:slategray;">
    <header id="header">
        <h1 align = "center">S3Model Tools</h1>
        <h2 align = "center">Tools for working with Shareable-Structured-Semantic models</h2>
    </header>
    
</body>
<footer id="footer">
    <p align = "center">
        Copyright 2023, <b>Timothy W. Cook</b>. Report Issues <a href="https://github.com/twcook/S3ModelTools/issues">here</a>.
    </p>
</xhtml>