{% extends "dmgen/dmgen_base.html" %}

{% block content %}
<h2> {{ floats|length }} Float Models</h2>

<div class="dmgen-header">
    <ul>
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'tools' %}">Tools</a>
        </li>
        <li>
            <a href="{% url 'flt_create' %}">Create New Float Model</a>
        </li>
    </ul>
</div>

<div class="dmgen-list">
    <table>
        <tr>
            <th align="center">Project</th>
            <th align="center">Label</th>
            <th align="center" colspan="3">Actions</th>
            <th align="center" colspan="2">Last Updated/By</th>
            <th align="center" colspan="2">Created/By</th>
            <th align="center">ID</th>
        </tr>
        {% for flt in floats %}
        <tr>
            <td>{{ flt.project }}</td>
            <td>
                <a href="{% url 'flt_form' pk=flt.id %}">{{ flt.label }}</a>
            </td> 
            <td class="list-delete-btn">
                <a href="{% url 'flt_delete' pk=flt.id %}">Delete</a>
            </td>
            {% if not flt.published %}
                <td>
                    <a href="{% url 'flt_publish' pk=flt.id %}">Publish</a> 
                </td>  
            {% else %}
                <td >
                    <b>
                        <i>Published</i>
                    </b>
                </td>
            {% endif %}
            <td>
                <a href="{% url 'flt_copy' pk=flt.id %}">Copy</a> 
            </td> 
            <td>{{ flt.updated }}</td>
            <td>{{ flt.edited_by }}</td>
            <td>{{ flt.created }}</td>
            <td>{{ flt.creator }}</td>
            <td>{{ flt.ct_id }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
