{% extends "dmgen/dmgen_base.html" %}

{% block content %}
<h2> {{ links|length }} Link Models</h2>

<div class="dmgen-header">
    <ul>
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'tools' %}">Tools</a>
        </li>
        <li>
            <a href="{% url 'lnk_create' %}">Create New Link Model</a>
        </li>
    </ul>
</div>

<div class="dmgen-list">
    <table>
        <tr>
            <th align="center">Project</th>
            <th align="center">Label</th>
            <th align="center" colspan="3">Actions</th>
            <th align="center" colspan="2">Last Updated/By</th>
            <th align="center" colspan="2">Created/By</th>
            <th align="center">ID</th>
        </tr>
        {% for lnk in links %}
        <tr>
            <td>{{ lnk.project }}</td>
            <td>
                <a href="{% url 'lnk_form' pk=lnk.id %}">{{ lnk.label }}</a>
            </td> 
            <td class="list-delete-btn">
                <a href="{% url 'lnk_delete' pk=lnk.id %}">Delete</a>
            </td>
            {% if not lnk.published %}
                <td>
                    <a href="{% url 'lnk_publish' pk=lnk.id %}">Publish</a> 
                </td>  
            {% else %}
                <td >
                    <b>
                        <i>Published</i>
                    </b>
                </td>
            {% endif %}
                <td>
                    <a href="{% url 'lnk_copy' pk=lnk.id %}">Copy</a> 
                </td> 
            <td>{{ lnk.updated }}</td>
            <td>{{ lnk.edited_by }}</td>
            <td>{{ lnk.created }}</td>
            <td>{{ lnk.creator }}</td>
            <td>{{ lnk.ct_id }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
