{% extends "dmgen/dmgen_form_base.html" %} {% block content %}
<p>
    Modeler Profile for:
    <b>{{ form.name.value }}</b>
    <br/> {{ form.whole_name }}
</p>
<form action="" method="post">
    {% csrf_token %}
    <b>{{ form.name.label }}:</b> {{ form.name.help_text }}
    <br/> {{ form.name }}
    <br/>
    <b>{{ form.email.label }}:</b> {{ form.email.help_text }}
    <br/> {{ form.email }}
    <br/>
    <b>{{ form.project.label }}:</b> {{ form.project.help_text }}
    <br/> {{ form.project }}
    <br/>
    <b>{{ form.prj_filter.label }}:</b> {{ form.prj_filter.help_text }}
    <br/> {{ form.prj_filter }}
    <br/>

    <input type="submit" value="Save" />
</form>

{% endblock %}