{% extends "dmgen/dmgen_base.html" %}

{% block content %}
<h2> {{ strings|length }} String Models</h2>

<div class="dmgen-header">
    <ul>
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'tools' %}">Tools</a>
        </li>
        <li>
            <a href="{% url 'str_create' %}">Create New String Model</a>
        </li>
    </ul>
</div>

<div class="dmgen-list">
    <table>
        <tr>
            <th align="center">Project</th>
            <th align="center">Label</th>
            <th align="center" colspan="3">Actions</th>
            <th align="center" colspan="2">Last Updated/By</th>
            <th align="center" colspan="2">Created/By</th>
            <th align="center">ID</th>
        </tr>
        {% for str in strings %}
            <tr>
                <td>{{ str.project }}</td>
                <td>
                    <a href="{% url 'str_form' pk=str.id %}">{{ str.label }}</a>
                </td> 
                <td class="list-delete-btn">
                    <a href="{% url 'str_delete' pk=str.id %}">Delete</a>
                </td>
                {% if not str.published %}
                  <td>
                      <a href="{% url 'str_publish' pk=str.id %}">Publish</a> 
                    </td>  
                {% else %}
                  <td >
                      <b>
                          <i>Published</i>
                        </b>
                    </td>
                {% endif %}
                 <td>
                     <a href="{% url 'str_copy' pk=str.id %}">Copy</a> 
                    </td> 
                <td>{{ str.updated }}</td>
                <td>{{ str.edited_by }}</td>
                <td>{{ str.created }}</td>
                <td>{{ str.creator }}</td>
                <td>{{ str.ct_id }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
