{% extends "dmgen/dmgen_base.html" %}

{% block content %}
<h2> {{ temporals|length }} Temporal Models</h2>

<div class="dmgen-header">
    <ul>
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'tools' %}">Tools</a>
        </li>
        <li>
            <a href="{% url 'tmp_create' %}">Create New Temporal Model</a>
        </li>
    </ul>
</div>

<div class="dmgen-list">
    <table>
        <tr>
            <th align="center">Project</th>
            <th align="center">Label</th>
            <th align="center" colspan="3">Actions</th>
            <th align="center" colspan="2">Last Updated/By</th>
            <th align="center" colspan="2">Created/By</th>
            <th align="center">ID</th>
        </tr>
        {% for tmp in temporals %}
            <tr>
                <td>{{ tmp.project }}</td>
                <td>
                    <a href="{% url 'tmp_form' pk=tmp.id %}">{{ tmp.label }}</a>
                </td> 
                <td class="list-delete-btn">
                    <a href="{% url 'tmp_delete' pk=tmp.id %}">Delete</a>
                </td>
                {% if not tmp.published %}
                  <td>
                      <a href="{% url 'tmp_publish' pk=tmp.id %}">Publish</a> 
                    </td>  
                {% else %}
                  <td >
                      <b>
                          <i>Published</i>
                        </b>
                    </td>
                {% endif %}
                 <td>
                     <a href="{% url 'tmp_copy' pk=tmp.id %}">Copy</a> 
                    </td> 
                <td>{{ tmp.updated }}</td>
                <td>{{ tmp.edited_by }}</td>
                <td>{{ tmp.created }}</td>
                <td>{{ tmp.creator }}</td>
                <td>{{ tmp.ct_id }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
