<xhtml xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="css/about.css" />
</head>
<body  style="background-color:slategray;>
    <div id="about">
        <h1>About</h1>
        <p>
            <b>Model Tools</b> is a set of tools for working with models in the <a href="http://www.s3model.com">S3 Model</a>. 
            It is a <a href="http://www.eclipse.org">Eclipse</a> plug-in that provides a graphical editor for the S3 Model, 
            and a set of wizards for creating and editing models.
        </p>
        <p>
            The S3 Model is a model for describing the structure of a software system. 
            It is based on the <a href="http://www.omg.org/spec/UML/2.0/">Unified Modeling Language</a> (UML), 
            but it is a subset of UML that is focused on the structure of a system. 
            The S3 Model is used by the <a href="http://www.s3model.com">S3 Modeler</a> to generate code for a system.
        </p>
        <p>
            The S3 Model Tools are available under the <a href="http://www.eclipse.org/legal/epl-v10.html">Eclipse Public License</a>.
        </p>
        <p>
            For more information, see the <a href="http://www.s3model.com">S3 Model</a> web site.
        </p>
    </div>
</xhtml>